#zona-encabezado {
width: 85%;
color: #f2f2f2;
background-color: #222831;
}
#zona-imagenes {

width: 85%;
color: #f96d00;
background-color: #393e46;
text-align: center;
}
#zona-cuerpo {
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 85%;
color: #393e46;
background-color: #f96d00;
}
#zona-final {
width: 85%;
color: #222831;
background-color: #f2f2f2;
font-size: 12pt;
}
#backround {
background-color: #515151;
}
h1 {
font-family: 'Courier New', Courier, monospace;
}
a {
color: #f96d00;
}